body{
    background-color: rgb(255, 251, 0);
    
}

div#imgContainer{
    border-radius: 5px;
    border-style: dashed;
    background-image: url(Images/duck1.png);
    background-repeat: no-repeat;
    background-size: 100% 30vmax;
    font-size: 400%;
    font-family: 'Script MT';
    text-align: right;
    padding-right: 40%;
}
div>img{
    border: aqua dashed inset;
}

div>h1{
    margin-top: 0%;
    margin-bottom: 0%;
    color: rgb(224, 221, 0);
}

img{
    display: inline-block;
    width: 100%;
    max-height: 30vmax;
}

.navi {
    border: 5px dashed rgb(0, 153, 255);

    list-style: none;
    width: 50%;
    margin: auto;

    text-align: center;
    padding-left: 0%;
}

.navi li{
    display: inline-block;
    border-style: outset;
    border-radius: 3px;
    border-color:rgb(0, 153, 255);
}

.navi>li>a:hover {
    color: rgb(255, 251, 0);
}